<div class="span-5 last" id="sidebar">
  <div class="sidebarbox">
    <h4>Pages</h4>
    <ul id="pages">
      <li><a rel="bookmark" title="Home" href="/">主页</a></li>
      <li><a rel="bookmark" title="Archive" href="/archive">归档</a></li>
      <li><a rel="bookmark" title="Projects" href="/projects">作品</a></li>
      <li><a rel="bookmark" title="publications" href="/publications">年总</a></li>
      <li><a rel="bookmark" title="About" href="/about">关于我</a></li>
    </ul>
  </div>

  <div class="sidebarbox">
    <h4>Subscribe</h4>
    <ul>
      <li><a title="RSS Feed" href="{{ site.atom }}" class="icon-link" id="feed-link">RSS</a></li>
    </ul>
  </div>

  <div class="sidebarbox">
    <h4>Elsewhere</h4>
    <ul>
      <li><a rel="bookmark" title="GitHub" href="https://github.com/{{ site.github }}" class="icon-link" id="github-link">GitHub</a></li>
      <li><a rel="bookmark" title="Twitter" href="http://twitter.com/{{ site.twitter }}" class="icon-link" id="twitter-link">Twitter</a></li>
      <li><a rel="bookmark" title="Facebook" href="http://facebook.com/{{ site.facebook }}" class="icon-link" id="facebook-link">Facebook</a></li>
    </ul>
  </div>
  <div class="sidebarbox">
    <h4>Link</h4>
    <ul>
      <li><a title="张伟" href="http://viviworld.blogbus.com" target="_blank">张伟的blog</a></li>
      <li><a title="刘杰" href="http://www.liujie.org.cn" target="_blank">刘杰</a></li>
      <li><a title="赵永明" href="http://www.zhaoyongming.com" target="_blank">永明则名</a></li>
      <li><a title="浪湾" href="http://hi.baidu.com/langwan/blog" target="_blank">浪湾</a></li>
      <li><a title="李忠" href="http://leezhong.com/" target="_blank">李忠</a></li>
    </ul>
  </div>


  <div class="sidebarbox">
    <h4>Contact Me</h4>
    <ul>
      <li><a rel="bookmark" title="Email" href="mailto:loxeyer@gmail.com" class="icon-link" id="gmail-link">Gmail/Gtalk</a></li>
    </ul>
  </div>
</div>

