<div class="span-5 last" id="sidebar">
  <div class="sidebarbox">
    <h4>Pages</h4>
    <ul id="pages">
      <li><a rel="bookmark" title="Home" href="/">主页</a></li>
      <li><a rel="bookmark" title="Archive" href="/archive">归档</a></li>
      <li><a rel="bookmark" title="english" href="/english">英语</a></li>
      <li><a rel="bookmark" title="thinking" href="/thinking">思想</a></li>
      <li><a rel="bookmark" title="movie" href="/movie">电影</a></li>
      <li><a rel="bookmark" title="tech" href="/tech">技术</a></li>
      <li><a rel="bookmark" title="life" href="/life">生活</a></li>
      <li><a rel="bookmark" title="economic" href="/economic">经济</a></li>
      <li><a rel="bookmark" title="Projects" href="/projects">作品列表</a></li>
      <li><a rel="bookmark" title="About" href="/about">关于我</a></li>
    </ul>
  </div>

  <div class="sidebarbox">
    <h4>Elsewhere</h4>
    <ul>
      <li><a rel="bookmark" title="GitHub" href="https://github.com/{{ site.github }}" class="icon-link" id="github-link">GitHub</a></li>
      <li><a rel="bookmark" title="Twitter" href="http://twitter.com/{{ site.twitter }}" class="icon-link" id="twitter-link">Twitter</a></li>
      <li><a rel="bookmark" title="Facebook" href="http://facebook.com/{{ site.facebook }}" class="icon-link" id="facebook-link">Facebook</a></li>
      <li><a rel="bookmark" title="Email" href="mailto:loxeyer@gmail.com" class="icon-link" id="gmail-link">Gmail/Gtalk</a></li>
    </ul>
  </div>

</div>

