<!DOCTYPE html>
<html>
<head>
    <title>tony's blog </title>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
    <meta name="verify-v1" content="fI45uNHehVNiO9Dt0Fp7XnsV0Z/ozBTkPoS6RlYAe50=" />
    <META name="y_key" content="6c948e75a617b12d" />
    <meta name='technorati-claim' content='8QN7CWNH8BSJ' />
    <link rel="stylesheet" type="text/css" href="/css/default.css" />
    <link rel="stylesheet" type="text/css" href="/css/syntax.css" />
</head>
<body class='{{ page.page_name }}'>
    <div id="top">
    </div>
    
    <div id="content">
    <div id="banner">
        <h1><a href="http://loxeyer.github.com">loxeyer</a></h1>
        <!-- <h3>blog, ideas, photos, everything</h3> -->
        
        <form action="http://loxeyer.github.com/search/" id="cse-search-box">
          <div>
            <input type="hidden" name="cx" value="partner-pub-9891348073545685:87fahy-qwta" />
            <input type="hidden" name="cof" value="FORID:11" />
            <input type="hidden" name="ie" value="ISO-8859-1" />
            <input type="text" name="q" size="31" />
            <input type="submit" name="sa" value="Search" />
          </div>
        </form>
        <div class='clear'></div>
				<ul>
					<li class='about'><a href='/about/'>About</a></li>
					<li class='blog'><a href='/'>Blog</a></li>
					<li class='archives'><a href='/tags/'>Archives</a></li>
					<li class='resume'><a href='/resume/'>Resume</a></li>
					<li style='float:none;' class='clear'></li>
				</ul>

    </div>
    
    <div id="page">
            <div id="main">
                {{ content }}
            </div>
            <div id="sidebar">
              <br />
							<h3>Around the Web</h3>
							<ul id="links">
								  <li class="twitter"><a href="http://twitter.com/loxeyer" rel="me" class="url">Twitter Feed</a></li>
							</ul>
							
							
              <div id="twitter_div">
                  
              <h3>Twitter Updates</h3>
              <ul id="twitter_update_list"></ul>
              </div>
              <br />
              
              </div>
              <a href="http://disqus.com">Powered by Disqus</a>-->
              
            </div>
        <div id="license">
        </div>
        
    </div>
</div>


    <div id="bottom">
	      <a href="/about/">About</a> |
        <a href="http://jduff.github.com">Blog</a> |
        <a href="/tags/">Archives</a> |
				<a href="/resume/">Resume</a> |
        <a href="http://feeds.feedburner.com/JohnDuffsBlog">RSS</a>
    </div>
    
    <!-- Google Analytics Code -->    
    <script type="text/javascript">

      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-9947336-1']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script');
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 
            'http://www') + '.google-analytics.com/ga.js';
        ga.setAttribute('async', 'true');
        document.documentElement.firstChild.appendChild(ga);
      })();

    </script>
    
    <!-- Twitter Badge Code -->
    <script type="text/javascript" src="http://twitter.com/javascripts/blogger.js"></script>

</body>
</html>

