<!DOCTYPE html>
<html>
<head>
    <title>tony's blog </title>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
    <meta name="verify-v1" content="fI45uNHehVNiO9Dt0Fp7XnsV0Z/ozBTkPoS6RlYAe50=" />
    <META name="y_key" content="6c948e75a617b12d" />
    <meta name='technorati-claim' content='8QN7CWNH8BSJ' />
    <link rel="stylesheet" type="text/css" href="/css/default.css" />
    <link rel="stylesheet" type="text/css" href="/css/syntax.css" />
</head>
<body class='{{ page.page_name }}'>
    <div id="top">
    </div>
    
    <div id="content">
    <div id="banner">
        <h1><a href="http://loxeyer.github.com">loxeyer</a></h1>
        <!-- <h3>blog, ideas, photos, everything</h3> -->
        
        <div class='clear'></div>
				<ul>
					<li class='about'><a href='/about/'>About</a></li>
					<li class='blog'><a href='/'>Blog</a></li>
					<li style='float:none;' class='clear'></li>
				</ul>

    </div>
    
    <div id="page">
            <div id="main">
                {{ content }}
            </div>
            <div id="sidebar">
              <br />
							<h3>Around the Web</h3>
							<ul id="links">
								  <li class="twitter"><a href="http://twitter.com/loxeyer" rel="me" class="url">Twitter Feed</a></li>
							</ul>
							
							
              <div id="twitter_div">
                  
              <h3>Twitter Updates</h3>
              <ul id="twitter_update_list"></ul>
              </div>
              <br />
              
              </div>
              
            </div>
        <div id="license">
        </div>
        
    </div>
</div>


    <div id="bottom">
	      <a href="/about/">About</a> |
        <a href="http://www.zhuyinghao.com">Blog</a> |
    </div>

</body>
</html>

